.firstimgmaincontainer{
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    position: relative;
}
.firstimgcontainer{
    width: 90%;
    /* border: 1px solid red; */
    height: 450px;
    margin: auto;
}
.firstimgcontainer img{
    width: 100%;
    height: 100%;
    
}
.secondimgmaincontainer{
    position: absolute;
    /* border: 2px gray solid; */
    width: 40%;
    height: 250px;
    bottom: 200px;
    left: 80px;
}
.secondimgmaincontainer>h1, .secondimgmaincontainer>h4{
    color: aliceblue;
}
.secondimgmaincontainer>button{
    padding: 8px 10px;
    background-color: red;
    color: aliceblue;
    margin-right: 300px;
    border: 0;

}
.secondimgmaincontainer>button:hover{
    background-color: aqua;
    color: black;
}