.productContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    margin-top: 1%;
    margin-bottom: 8%;
    width: 90%;
    padding: 1%;
    box-sizing: border-box;
  }
  
  .card_sub_container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    padding: 3%;
    margin-top: 1%;
  margin-bottom: 5%;
    height: 350px;
    box-sizing: border-box;
  }
  
  .card_sub_container div button {
    background-color: blue;
    color: white;
    padding: 3%;
  width: 30%;
  border: none;
  }
  .card_sub_container>img{
    width: 15%;
    height: 150px;
  }
  .card_sub_container div button:hover{
    background-color: red;
    border: 1px solid;
  }